<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.NPI.yayo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>

        <!-- Specific intents you query for -->
        <intent>
            <action android:name="android.intent.action.DIAL" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ico1"
        android:label="YAYO"
        android:roundIcon="@drawable/ico1"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ActivityChat"
            android:exported="false" />
        <activity
            android:name=".ActivityTiempo"
            android:exported="false" />
        <activity
            android:name=".ActivityMedicacion"
            android:exported="false" />
        <activity
            android:name=".ActivityLlamar"
            android:exported="false" />
        <activity
            android:name=".ActivityAsistente"
            android:exported="false" /> <!-- android:theme="@style/Theme.ETSIIT_Utilities" -->
        <activity
            android:name=".ActivityTest"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityTouchParking"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityFotoParking"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityParking"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityEmergencias"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tyagiabhinav.dialogflowchatlibrary.ChatbotActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>